language: python

install: pip install -U tox
script: tox -v

jobs:
  include:
    - stage: test
      python: 3.5
      env: TOXENV=py
    - python: 3.6
      env: TOXENV=py
    - python: 3.7
      env: TOXENV=py
      dist: xenial
    - python: 3.5
      env: TOXENV=lint

    - stage: coverage
      python: 3.5
      env: TOXENV=cov
      before_script: pip install -U coveralls
      after_success: coveralls

    - stage: deploy
      python: 3.5
      install: skip
      script: skip
      deploy:
        provider: pypi
        user: renatahodovan
        password:
          secure: Mtflkx67kYyBxsrEe188psBg4Gz38Zgd2YvBjHB2F5ojltQBcP9rdKW4rJFIz6kaGNH+yRXvZJAnX1BHUnz8ciDH4WjDRCFBrIWdjywnl6qa2QVTgIoGDzF0WfTtESenos6leuxHzpFdkiGZfxpoV97qu52behnhVB6Ry9gVBJJmAAbitZWPtOdac9ISdcGWZTfWH8YU/FS+DVvaJMyYz+2MFepiaqWyIhS8XDETWu3CYqtgwGS9ijueb07Vax5mrmmE+2qUrdGDoub0bcH3S+EgChVh1sjAWdayBdLXYtnJbXbhmDvWMG+cBgaVDalB2MUYTIHRsYojyk30xb5PO1dLQraaiSYbgxiJpVX8coAlxBaJkcsKgeP/0nwSwIg6AyjTf9xWC1lkwahzSCNQaWDWxIVy+ZOCdClkGALShu65NTqT6ZMnpnkLQwKIimZR0QSdt1xSyDhPPXt2ohSL28a5nXkCBq+Ux0DmCEiyT1P3cq7V7FrSLa8cXnuv34AqMN5z00I5vhGFi2zj6ElIsjkBsMMZ5QBLCQYZkqErzNzMROod4C+yn3dynz9nuFJCXrZixFrT2cjA5VrpfDoX+SoUozhcgZcbxZb9paRUhrB+Y/Z5j8UoCWjrxUHwMlQvIbvgyRPjENEgiPhaYXdQTf243MyR+LRvsgZ/iOFaroY=
        on:
          repo: renatahodovan/xson
          tags: true
